.list-group-item {
    background-color: rgb(0, 0, 0);
}

ul li .nav-link {
    color: white
}

table tbody .odd {
    background-color: rgba(15, 15, 18, 0.9);
    
}


table tbody .even {
    background-color: rgba(42, 42, 48, 0.8);
    /* background-color: #2e3236;
    opacity: 0.8; */
}

.download-file-div:hover {
    cursor: pointer;
}

.nav-pills .nav-link.active {
    background-color: #272d33 !important;
    /* Add any other styles you'd like for the active link */
}