.nav-pills .nav-link.active {
    background-color: #6c757d;
    /* Add any other styles you'd like for the active link */
}

.first-card {
    background-color: #1c1f22;
}

.first-card .nav .nav-link{
    color: #fff;
}